.hero {
  padding: 20px;

  &-personnalData {
    background-color: white;
    display: none;
  }

  &-objective {
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    margin-right: 0;
    width: 60%;

    div {
      display: flex;
      flex-direction: row;
      p {
        margin: 15px;
      }
    }
  }

  .page-next {
    margin: 0px;
  }
}